*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;
  
  --fw-reg: 300;
  --fw-bold: 500;
  
  --clr-light: #fff;
  --clr-dark: #252525;
  --clr-accent: #e0167b;
  
  --fs-h1: 2rem;
  --fs-h2: 1.65rem;
  --fs-h3: 1.05rem;
  --fs-body: 0.90rem;
  --fs-small: 0.7rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 2.5rem;
    --fs-h2: 1.75rem;
    --fs-h3: 1.115rem;
    --fs-body: 0.95rem;
    --fs-small: 0.75rem;
  }
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
  line-height: 1.6;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-reg);
}
h2 { 
  font-size: var(--fs-h2);
  font-weight: var(--fw-reg);
}
h3 { 
  font-size: var(--fs-h3);
  font-weight: var(--fw-reg);
}
a {
  color: inherit;
}
/* --------------------- SWITCH ----------------------- */
.night {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.switch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: var(--fs-h3);
}
.switch-wrapper i {
  margin: 0 5px 0 5px;
}
.switch {
  position: relative;
  display: block;
  height: 22px;
  width: 40px;
  background: #7a7a7a;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
}
.switch:after {
  position: absolute;
  left: 2px;
  top: 2px;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 100px;
  background: #EBEBEB;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
  content: '';
  transition: all 0.3s ease;
}
/* .switch:active:after { transform: scale(1.15, 0.85); } */
.cbx:checked ~ label { background: var(--clr-accent); }
.cbx:checked ~ label:after {
  left: 20px;
  background: #EBEBEB;
}
.cbx:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}
.cbx:disabled ~ label:after { background: #bcbdbc; }
.hidden { display: none; }

/* -------------- INTRO --------------*/
.intro {
  max-width: 1200px;
  letter-spacing: 1.5px;
  transition: all 0.3s;
}
.intro__name {
  font-weight: var(--fw-bold);
}
.intro__contact {
  font-size: var(--fs-h3);
}
.intro__contact__link{
  padding: 0 5px 0 5px;
  font-weight: var(--fw-bold);
  text-decoration: none;
  background-image: linear-gradient(120deg, var(--clr-accent) 0%, #b025f0 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background 0.3s;
}
.intro__contact__link:hover{
  background-size: 120% 98%;
}


/* ------------------- SECTION -------------------*/
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 80px;
}
.section__title {
  flex-shrink: 0;
  width: 200px;
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  letter-spacing: 2px;
  color: var(--clr-accent);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.section__content {
  width: 100%;
  /* max-width: 700px; */
}
.section__content p {
  margin-top: 0;
  /* margin-bottom: 20px; */
}
.section-background {
  align-items: flex-end;
  text-align: justify;
  text-align-last: left;
}
.section-background>.section__title {
  text-align: right;
  text-align-last: right;
}
.section-background>.section__content {
  max-width: 700px;
}
.skills {
  display: grid;
  grid-template-columns: repeat(3, minmax(120px, 180px));
  margin: 0;
  padding: 0;
  list-style: none;
}
/* .skills__item {
  margin-bottom: 10px;
} */
/* ---------------------- MEDIA ---------------------- */
@media screen and (max-width: 1600px){
  .highlight {
    display: flex;
  }
  .highlight-description {
    width: 30%;
  }
  .intro { 
    padding: 150px;
    margin-bottom: 120px;
  }
  .section {
    padding: 80px 150px;
    padding-right: 200px;
  }
  .footer {
    display: flex;
    padding: 50px 80px;
  }
  .footer__links {
    width: 40%;
  }
}
@media screen and (max-width: 1024px){
  .highlight {
    display: flex;
  }
  .highlight-description {
    width: 30%;
  }
  .intro { 
    padding: 80px;
    margin-bottom: 100px;
  }
  .section, .footer {
    padding: 60px 80px ;
    padding-right: 130px;
  }
}
@media screen and (max-width: 768px) {
  .highlight{
    display: block;
  }
  .highlight-description {
    width: 100%;
  }
  .footer {
    display: block;
    padding: 50px;
  }
  .footer__links {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .section {
    padding: 50px 35px;
  }
  .footer {
    display: block;
    padding: 50px 30px;
  }
  .footer__links {
    width: 100%;
  }
}

/* --------------- HIGHLIGHTs ---------------- */
.highlight {
  margin-bottom: 80px;
}
.highlight-ip-address, .highlight-four-card {
  justify-content: space-between;
}
.highlight-ip-address>.highlight-description {
  padding-left: 30px;
  text-align: right;
  text-align: justify;
  text-align-last: right;
}
.highlight-four-card>.highlight-description {
  padding-right: 30px;
  text-align: left;
  text-align: justify;
  text-align-last: left;
}

.highlight-link {
  position: relative;
  width: 70%;
  overflow: hidden;
}

.highlight-image {
  width: 100%;
  transition: 
        transform 600ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}
.highlight-link:focus {
  z-index: 2;
}

.highlight-image:hover, .highlight-link:focus .highlight-image{
  transform: scale(1.05);
}

.highlight-title {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  margin-top: 0;
}
/* --------------- PROJECTS ---------------- */
.projects>.section__content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 12px;
  list-style: none;
  padding: 0;
}

.project__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 2rem 1.5rem;
  border: 0.5px solid var(--clr-accent);
  border-radius: 5px;
  height: 100%;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.project__inner:hover {
  transform: translateY(-10px);
}
.project__title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  margin-bottom: 10px;
  transition: all 0.2s ease-in;
}
.project__title:hover {
  color: var(--clr-accent);
}
.project__title a{
  text-decoration: none;
  position: static;
}
.project__tools {
  /* margin-bottom: 50px; */
  font-size: var(--fs-small);
}
.project__tool__item {
  padding: 4px;
  /* border: var(--clr-accent) 1px solid;
  border-radius: 10%;
  color: var(--clr-accent); */
}

/* -------------- FOOTER ----------------- */
.footer {
  /* display: flex; */
  color: var(--clr-accent);
  justify-content: space-between;
  padding: 50px 80px;
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  
}
.footer__links {
  display: flex;
  justify-content: space-between;
}
.footer__link {
  text-decoration: none;
  background-image: linear-gradient(120deg, var(--clr-accent) 0%, #bd3ab6 100%);
  background-repeat: no-repeat;
  background-size: 100% 0em;
  background-position: 0 105%;
  transition: background 0.18s;
  -webkit-transition: background 0.18s;
  -moz-transition: background 0.18s;
}
.footer__link:hover{
  background-size: 100% 10%;
}